@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1f3864;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

body {
  @apply bg-background text-foreground;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
